# personal data
data/



# default ignore
# Python
__pycache__/
bin/
include/
lib/
lib64
pyvenv.cfg
*.py[cod]
*.env
venv/
.venv/
.bak/




# IDEs and editors
.idea/
.vscode/
*.iml

# Logs and data
*.log
test_data/

# System files
.DS_Store
Thumbs.db

# Cache
.pytest_cache/


supervisord.pid
