<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Content Search</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <!-- 引入样式表文件 -->
        <link rel="stylesheet" href="{{ url_for('static', filename='index_styles.css') }}">
    <style>
        
    </style>
</head>
<body>
    <div class="centered-form">
        <img class="logo" src="{{ url_for('static', filename='logo-font-white.svg') }}" alt="Logo">
        <!-- <h1>Search</h1> -->
        <div class="search-container">
            <form action="/search" method="get">
                <input type="text" class="search-input" name="q" placeholder="输入关键词并回车开始搜索">
                <!-- <button type="submit" class="button">Search</button> -->
            </form>
        </div>
    </div>
</body>
</html>
